/* Para navegadores basados en WebKit (Chrome, Edge) */
::-webkit-scrollbar {
  width: 10px; /* Ancho del scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 20px; /* Bordes redondeados */
}
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color del thumb al pasar el cursor sobre él */
}
body {
  background-color: #0d0d0d;
}
