@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "product_sans";
  src: url("../public/fonts/Product Sans Regular.ttf");
}
@font-face {
  font-family: "product_sans_bold";
  src: url("../public/fonts/Product Sans Bold.ttf");
}

body {
  font-family: "product_sans", sans-serif;
  background-color: #131313;
}

.product_sans {
  font-family: "product_sans", sans-serif;
}
.product_sans_bold {
  font-family: "product_sans_bold", sans-serif;
}

body {
  background-color: #0d0d0d;
}

@keyframes fadeInDelayed {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in-delayed {
  animation: fadeInDelayed 0.8s ease forwards;
  animation-delay: 1s; /* <-- 1 segundo */
}
